@import-normalize;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h1, h2, h3 {
  padding: 0;
  margin: 0;
}

html {
  height: 100%;
}

body {
  font-family: "Haas Grot Disp", sans-serif;
  overflow-x: hidden;
  height: 100%;
  background-color: black;
}

#root {
  display: flex;
  height: 100%;
  flex-direction: column;
}

main {
  margin-top: 80px;
  flex: 1 0 auto;
}
